*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8DBD7;
}

.sfondo {
    background-color: #359589;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.top-bar {
    background-color: #E9EAED;
}

.profile-img {
    width: 50px;
}

.profile-icons i {
    padding-left: 10px;
    color: #B0B1B3;
    cursor: pointer;
}

.bg-info {
    background-color: #99DAFD;
}

#desktop-notif {
    color: #6A84A7;
}
.searchbar-bg {
    background-color: #F9FAFD;
}
.search-button {
    color: #B7BBBE;
    background-color: white;
    border: 0;
}

#searchbar-text::placeholder {
    font-size: 0.8em;
}

.last-sent-message {
    font-size: 0.8em;
    color: #C6C2C1;
}

.active-chat {
    background-color: #E8EBEE;
}

.last-connection {
    color: #828CA2;
    font-size: 0.8em;
}

.chat-bg {
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-repeat: repeat;
}

.text-padding {
    padding: 3px 9%;
}

.sent-message {
    max-width: 49%;
    background-color: #D8F8BF;
    position: relative;
}

.received-message {
    max-width: 49%;
    background-color: #FEFFFF;
    position: relative;
}

.data-text {
    position: absolute;
    right: 4px;
    bottom: 2px;
    font-size: 0.6em;
    color: #6C7377;;
}

#chat-textbar {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

#chat-textbar::placeholder {
    font-size: 0.8em;
}

.input-bar i{
    color: #6C7377;
    cursor: pointer;
}